[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}
.tabs {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid crimson;
    font-size: 20;
}

.tab {
    cursor: pointer;
    padding: 12px;
    font-size: large;
}
.tab.active {
    background-color: rgb(196, 193, 193);
}
.tab:hover {
    background-color: rgb(158, 155, 155);
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body {
    background-color: lightgray;
}

